<footer class="footer">
  <div class="container">
    <p class="pull-left">Copyright @ 2005-2024 <a class="noactive" href="https://WWW.FREE163.COM">WWW.FREE163.COM</a> All Rights Reserved.</p>
    <p class="pull-right">Design By <a href="https://github.com/swang2015/tranquil-theme" class="noactive" target="_blank">Tranquil Theme</a></p>
  </div>
</footer>
<a id="back_top"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>

<table>
 <tr>
  <td width=728 height=90>
<script type="text/javascript"><!--
google_ad_client = "pub-8742386847853865";
google_ad_width = 728;
google_ad_height = 90;
google_ad_format = "728x90_as";
google_ad_type = "text_image";
google_ad_channel ="";
//--></script>
<script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
  </td>
 </tr>
</table>

<script>
window.onscroll = function() {
    if(pageYOffset >= 200) {
        document.getElementById('back_top').style.visibility="visible"
    } else {
        document.getElementById('back_top').style.visibility="hidden";
    }
};
document.getElementById('back_top').onclick = function() {
    scrollTo(document.body, 0, 0);
}
</script>
